# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

/src/generated/prisma
20262367429_011_00002_00000119.pdf
src/lib/afip/ta/TA-20262367429-wsfe.xml
src/lib/afip/ta/TA-20262367429-wsfex.xml
.gitignore
stitch_assets/30640431373_011_00005_00000087 (O).pdf
stitch_assets/asientos.html
stitch_assets/asientos.png
stitch_assets/dashboard.html
stitch_assets/dashboard.png
stitch_assets/entidades.html
stitch_assets/entidades.png
stitch_assets/landing.html
stitch_assets/landing.png
stitch_assets/listado_asientos.html
stitch_assets/login.html
stitch_assets/login.png
stitch_assets/plan_cuentas.html
stitch_assets/plan_cuentas.png
stitch_assets/register.html
stitch_assets/register.png
stitch_assets/sidebar.html
stitch_assets/sidebar.png
30640431373_011_00005_00000545 (IRESE).pdf
